<li id="post-<%= post._id%>">
  <!-- Show delete option only when the user has previllege -->
  <% if (locals.user && locals.user.id == post.user.id) {%>
  <small
    ><a class="delete-post-button" href="posts/delete/<%= post._id%>"
      >Delete Post</a
    ></small
  >
  <% }%>

  <!-- Displaying the post content -->
  <%= post.content %>
  <br />

  <!-- Displaying the author -->
  <small><b>Author: </b> <%= post.user.name%> </small>

  <!-- Display like button for the post -->
  <br />
  <% if (locals.user) { %>
  <small>
    <a
      class="toggle-like-button"
      data-likes="<%= post.likes.length %>"
      href="/like/toggle?id=<%= post._id %>&type=Post"
    >
      <%= post.likes.length %> Likes
    </a>
  </small>
  <% } else { %> <%= post.likes.length %> Likes <% } %>

  <!-- Adding comments for the post -->
  <% if (locals.user) { %>
  <div id="create-comment-container">
    <form action="comment/create" id="new-comment-form" method="POST">
      <input type="text" name="content" placeholder="Add comments.." />
      <input type="hidden" name="post" value="<%= post._id %>" />
      <input type="submit" value="Add comment" />
    </form>
  </div>
  <% } %>

  <!-- list all comments of this post -->
  <div id="comment-list-container">
    <!-- Listing all the containers -->
    <ul>
      <% for(comment of post.comments) {%> <%- include('_comments', { comment:
      comment, })-%> <% }%>
    </ul>
  </div>
  <br />
</li>
